<% content_for :title do %>Dashboard<% end %>
<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [350, 480]
    Dashing.numColumns = 5
  });
</script>
<div class="gridster">
  <ul>
    <%# Code to create widgets for the example jobs. %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="blog-titles" data-view="List" data-title="Latest Blog Posts" style="background-color: #D3374A"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rickshaw" data-view="Rickshawgraph" data-title="Graph" data-stroke="true" data-legend="true" style="background-color:#FF8300"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> <%# This widget will not display if the end date is in the past %>
      <div data-view="Countdown" data-title="Countdown to the New Year" data-end="01-Jan-2016 00:00:00" style="background-color: #009FE3"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hotmeterlist" data-view="Hotmeterlist" data-unordered="true" data-title="Engineering Data" data-moreinfo="URLs Reviewed" data-min="0" data-max="100" data-cool="79" data-warm="19" data-suffix="%"></div>
    </li>

    <%# These widgets require authorization to display. Create a '.env' file based on '.env.example' to use this code.
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="Search Tweets" style="background-color: #4814A0"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="slack" data-view="Comments" data-title="Latest Slack Comments" style="background-color: #009849"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="my-trello-board" data-view="List" data-title="Trello Board" style="background-color: #D3374A"></div>
      <i class="icon-trello icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="influx" data-view="Graph" data-title="Ask Price Over 7 Days: 1hr Intervals" style="background-color:#009FE3"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="monthly_visit" data-view="Graph" data-title="Page Views This Month:" style="background-color:#009FE3" data-moreinfo="Graph of monthly page views over the past year."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="drive" data-view="Table" style="background-color: #D3374A"></div>
    </li>
  </ul>
  %>

  <%#
  <center><div style="font-size: 12px">Put text here to display on the bottom of your dashboard.</div></center>
  %>
</div>
