// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(2, 2, 2, 0.6);

$meter-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-hotmeterlist {

  background-color: $background-color;
  @include transition(background-color, 0.5s, linear);
  vertical-align: top;

  input.meter {
    background-color: $meter-background;
    color: #fff;
  }

  .title {
    color: white;
    font-size: 20px;
  }

  ol, ul {
    margin: 0px 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .count {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
.hotmeterlist0 { background-color: #D3374A; }
.hotmeterlist1 { background-color: #FF8500; }
.hotmeterlist2 { background-color: #FFB300; }
.hotmeterlist3 { background-color: #A3D400; }
.hotmeterlist4 { background-color: #009849; }
